.flight-window {
    height : 100vh;
    min-width : 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.utils {
    height : 10%;
    display : flex;
    justify-content: center;
    align-items: center;
}

.utils .reload-button {
    border : 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding : 10px;
    font-family: 'Century Gothic', sans-serif;
    font-weight: bold;
    font-size: large;
    color: rgb(60, 58, 58);
    background-color: rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
}

.flight-display {
    min-height : 90%;
    width : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}