body, .App {
  text-align: center;
  padding : 0;
  margin : 0;
  min-height : 100vh;
  min-width : 100vh;
  background-color: #e5e5f7;
  background-color: #e5e5f7;
  background-color: rgb(81, 81, 214);
}